
    <div class="alfa-title small">
        <div class="f"></div>
        <div class="f-half"></div>
    </div>
    <div class="alfa-title big">
        <div class="r"></div>
    </div>
    <div class="alfa-title big">
        <div class="o"></div>
    </div>
    <div class="alfa-title big">
        <div class="n"></div>
    </div>
    <div class="alfa-title big">
        <div class="t"></div>
    </div>
    <div class="alfa-title big">
        <div class="e"></div>
        <div class="e-half"></div>
    </div>
    <div class="alfa-title big">
        <div class="n"></div>
    </div>
    <div class="alfa-title big">
        <div class="d"></div>
    </div>

    <div class="alfa-title small">
        <div class="f-half"></div>
    </div>

    <div class="alfa-title big">
        <div class="p"></div>
    </div>
    <div class="alfa-title big">
        <div class="r"></div>
    </div>
    <div class="alfa-title big">
        <div class="o"></div>
    </div>